<div class="col_3">
	<h5>Student and instructor login</h5>
	<form>
		<label>Username:</label>
		<input type="email" name="username">
		<label>Password:</label>
		<input type="password" name="password">
		<input class="button" type="submit" value="submit">
	</form>
	
	
	</div>