

<div class="col_3">
 <% if(locals.user){ %>
	
		<a href="/users/signout">Logout</a>
		<br>
		<br>
		<a href="">My classes</a>

	
<% } else{%>
	
	
		<h5>Student and instructor login</h5>
		<form action="/users/createsession" method="POST">
			<label>Username:</label>
			<input type="email" name="email">
			<label>Password:</label>
			<input type="password" name="password">
			<br>
			<br>
			<input class="button" type="submit" value="submit">
		</form>
		
		
<% } %>
</div>