
<div class="col_9">
	<h3>Welcome to E-learn</h3>
	<p>
    E-learn is simple and free online learning platform. Instructors can create coarses and students can register for coarses which include assignments, quizes and support forums </p>
    <a class="button"  href="/users/signup">Sign Up Free</a>
    <p>Ypu need to sign-up to register for free classes</p>

	
	</div>