
	
	<%  classes.forEach(function(value){%>

	<h3><%= value.title %></h3>
	<p><%= value.description %> </p>
    <a class="buttton" href="/classes/details/<%= value._id%>">View class</a>

	
	
	<% }) %>
	
	
   
	
	
	
