<h2><%= details.title%></h2>
<p>
    <strong>Instructor: </strong>
</p>
<p>
    <%= details.description%>
</p>
<ul class="alt">
    <!-- use foreach loop on details.lessons -->
    <!-- and take the value of lesson_title and show this  -->
    <li>Lesson Title</li>
</ul>

<!-- class registration form -->
<!-- if user is logges in then only show this form  -->
<form id="classRegForm" action="/students/class/register" method="POST">
    <input type="hidden" name="student_id" value="">  
    <input type="hidden" name="class_id">
    <input type="hidden" name="class_title">
    <input type="submit" class="buttom" value="Register for this class">
</form>
<!-- else -->

<p>You have to logged in to register for this class</p>