

	 

	
    
    
    <%  classes.forEach(function(value){%>
	<div class="col_4">
	<h4><%= value.title %></h4>
	<p><%= value.description %></p>
    <a class="buttton" href="/classes/<%= value._id%>">View class</a>
	</div>
	<% }) %>
	
	
	



