<div class="col_9">

    <h2><%= student.firstname%>'s classes' </h2>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>class ID</th>
            <th>Class Name</th>
            <th></th>
        </tr>
        <tbody>
            <% (student.classes).forEach(function(classes){ %>
                <tr>
                    <td><%=classes.class_id %></td>
                    <td><%=classes.class_title %></td>
                    <td><a href="/classes/<%=classes.class_id %>/lessons">View Lessons</a></td>
                </tr>


             <% }) %>
        </tbody>
        
    </table>
	
</div>